#home-image {
    width: 100%;
    min-height: 100%;
}


#main-image {
    position: absolute;
}

#button {
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    float: left;
    text-align: center;
    padding: 50px;
    margin-top: 200px;
    width: 100%;
    font-size: 30px;
}

input[type=button] {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    width: 250px;
    height: 80px;
    border: none;
    color: white;
}

input[type=submit] {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    width: 200px;
    height: 70px;
    border: none;
    color: white;
}

#signup {
    z-index: 1;
    position: absolute;
    float: left;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-left: -42px;
}

.form-group {
    margin-right: -20px;
}

.form-horizontal p {
    font-family: 'Oswald', sans-serif;
    color: white;
}